<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Songify</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>

    <style>
        .list-header {
          display: flex;
          position: relative;
        }
        .list-header .left-side span,
        .list-header .right-side span {
          display: inline-block;
          margin-right: 5px;
        }
        .list-header .left-side span a,
        .list-header .right-side span a  {
          color: rgba(255, 255, 255, 0.5);
          font-size: 12px;
        }
        .list-header .left-side span a:hover,
        .list-header .right-side span a:hover  {
          color: rgba(255, 255, 255, 0.7);
          text-decoration: none;
        }
        .song_list_wrapper .song-list .song-item {
            width: 100%;
            height: 400px;
        }
        .single-song {
            width: 12.5%;  float: left; padding: 10px;
        }
        .single-song a {
            font-size: 10px;
        }
        .single-song p {
            font-size: 10px;
        }
    </style>


  </head>


  <body>

    <!-- fixed Navigation bar at the top of page -->
    <% include templates/fixedMainHeader.ejs %>

    <div class="container-fluid default" style="padding: 78px 0;">


      <!-- Middle Content  -->
      <div class="row songs-category hidden">
        <div class="col-md-2"></div>


        <div class="col-md-8 default" style="border: 1px solid yellow; margin-top: 10px;">

          <% for(var category = 0; category < 4; category++) { %>

            <div class="song-category" style="border: 2px solid yellow;">
              <h4>Lestest Songs</h4>
              <div class="row" style="width: 100%;">
                  <div class="col-md-3 animate-image" style="width: 100%; border:1px solid red; padding: 7px;"><img class="img-fluid img-style" src="https://www.planwallpaper.com/static/images/6775415-beautiful-images.jpg"></div>
                  <div class="col-md-3 animate-image" style="width: 100%; border:1px solid red; padding: 7px;"><img class="img-fluid img-style" src="https://dummyimage.com/200x150"></div>
                  <div class="col-md-3 animate-image" style="width: 100%; border:1px solid red; padding: 7px;"><img class="img-fluid img-style" src="https://dummyimage.com/300x400"></div>
                  <div class="col-md-3 animate-image" style="width: 100%; border:1px solid red; padding: 7px;"><img class="img-fluid img-style" src="https://dummyimage.com/150x150"></div>
              </div>
            </div>
            <hr style="background: #f6f6f6;">

          <% } %>

        </div>


        <div class="col-md-2"></div>
      </div>
      <!-- Ending of middle content -->


      <!-- show all the songs of a perticular category -->
      <div class="row each-song-item">
        <div class="col-md-2"></div>

        <div class="col-md-8 default" style="margin-top: 0px; border: 1px solid #f6f6f6;">
          <!-- song playlist : show all the songs after selecting a perticular album or category -->

          <div class="song_list_wrapper">

              <!-- top of the song list where links are given -->
              <div class="list-header">
                  <div class="left-side">
                      <span><a href="#">New Releases</a></span>
                      <span><a href="#">Top Lists</a></span>
                      <span><a href="#">Featured</a></span>
                  </div>
                  <div class="right-side" style="position: absolute; right: 0;">
                      <span><a href="#">Hindi</a></span>
                  </div>
              </div>
              <hr style="background: rgba(255,255,255,0.5);">
              <!-- end top of the list  -->

              <div class="song-list">
                  <div class="song-item">

                      <div class="all-songs">
                        <% for(var i = 0; i < 50; i++) { %>

                          <div class="single-song" id="mobile-device" >
                              <div style="cursor: pointer">
                                <img class="rounded" src="https://dummyimage.com/150x150" style="width: 100%; max-height: 150px;">
                                <p><strong><a href="#">Tiger Zinda Hai</a></strong></p>
                                <p><small>Vishal-Shekhar</small></p>
                              </div>
                          </div>

                        <% } %>

                      </div>

                  </div>
              </div>

          </div>

          <!-- <% include templates/listOfSongs.ejs %> -->
        </div>

        <div class="col-md-2"></div>
      </div>


    </div>


    <!--Fixed  main footer -->
    <% include templates/fixedMainFooter %>
    <!-- End of the main footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- get the objects from the server -->
    <script>
      var currentSongPlayList = <%- JSON.stringify(songObj) %>;
    </script>

    <!-- Custom jQuery -->
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/animation.js"></script>
    <script src="/javascripts/ajax.js"></script>


  </body>
</html>
