
  <!-- Navigation bar at the top of page -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#" id="logo"><strong>Songify</strong></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav hidden-md-down ml-auto">
        <li class="nav-item">


        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Radio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login/Signup</a>
        </li>
      </ul>

    <!-- <form class="form-inline ml-auto" action="/action_page.php">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form> -->

    </div>

  </nav>
