*, body, html,p, .default, .row {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* font: 20px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background: #282828;
  color: rgba(255,255,255,.5);
}

#logo {
  color: orange;
  font-size: 35px;
  font-family: 'Audiowide', Arial;
}

.navbar-collapse .navbar-nav .nav-item a, p {
  font-size: 15px;
}

@media only screen and (max-width: 700px) {

}



/* user interaction pannel */
.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.left.floated {
    float: left;
}
.right.floated {
    float: right;
    font-size: 1.2rem;
}

.clickable {
    cursor: pointer;
    color: white;
}
.error {
    border: 2px solid red;
    outline-color: red;
}
.play-icon{

    margin:0px 30px;
}
.forward-icon{
    font-size: 20px;
    vertical-align: middle;
    margin:0px 30px;
}
.backward-icon{
    font-size: 20px;
    vertical-align: middle;
    margin:0px 30px;
}
.inactive{
    color: #aaa;
}
.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 3px;
    width: 650px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
}
.player-progress:hover{
    height:8px;
}
.progress-filled {
    background-color: orange;
    height:inherit;
    border-radius: 4px;
    width: 0;
}

.hidden {
  display: none;
}

/*volume ka location setting*/
.responsive-pane{
    position: fixed;
    right: 0;
    bottom:0;
    margin-right: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: bold;
}

.responsive-pane input[type=range]{
    -webkit-appearance: slider-vertical;
    width:50px;
    height:120px;
}

input[type=range]{
    cursor: pointer;
}
.fa-volume-up{
    color: orange;
}
.fa-volume-down{
    color: orange;
}
.fa-volume-off{
    color: orange;
}
.responsive-pane span{
    font-size: 1rem;
    font-weight: normal;
}


/********************** Decoration of song list items *************************/

.img-style {
  width: 100%;
  height: 150px;
}
.each-song-item .song-category .table .td{
  font-size: 0.5rem!important;
}

.song_list_wrapper {
  width: 100%; padding: 0px 3.4% 0px 3.4%;
}
.song_list_wrapper .movie_title {
  display: flex; padding: 20px 0;
}
.song_list_wrapper .movie_title .movie_poster {
  width: 150px;
}
.song_list_wrapper .movie_title .song_details {
  position: relative; padding-left: 15px;
}
.song_list_wrapper .movie_title .song_details .play-button {
  position: absolute; bottom: 0;
}

@media only screen and (max-width: 768px) {

  #mobile-device {
    width: 50%;
  }
  #mobile-device a.anchor{
    font-size: 12px;
  }
  .song-category .song-category-all#category-list .category {
    float: none;
    /* background: yellow; */
    width: 100%;
  }
  .song-category .song-category-all .category {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
  .song-category .song-category-all#category-list .category {
    float: left;
    width: 50%;
  }
}

/*````````````````````````````````````````````````````````````````````````````/
/******************** css for category page ***********************************
`````````````````````````````````````````````````````````````````````````````*/
.song-category .song-category-all{
    width: 100%;
    /* height: 400px; */
}

.song-category .song-category-all .category {
    width: 33.33%;
    height: 100px;
    float: left;
    padding: 10px 1%;
}
.song-category .song-category-all .category .category-data,
.song-category .song-category-all .category .category-data img {
    width: 100%;
    height: 100%;
}

/**************************End ************************************************/


/********************* End Aminmation *****************************************/


/******************** Header options like : New releases top songs languages **/
.list-header {
  display: flex;
  position: relative;
}
.list-header .left-side span,
.list-header .right-side span {
  display: inline-block;
  margin-right: 5px;
}
.list-header .left-side span a,
.list-header .right-side span a  {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
.list-header .left-side span a:hover,
.list-header .right-side span a:hover  {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.song_list_wrapper .song-list .song-item {
    width: 100%;
    /* min-height: 200px; */
}
.single-song {
    width: 12.5%;  float: left; padding: 10px;
}
.single-song a {
    font-size: 10px;
}
.single-song p {
    font-size: 10px;
}
/******************** End ****************************************************/






/****************** Login Models **********************************************/
.modal-dialog {
    width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}
/********************** end ****************************************************/
/* https://bootsnipp.com/snippets/featured/progressive-button-on-login */
